<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="play-circle"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="match-scout">
      <ion-icon name="radio"></ion-icon>
      Match Scout
    </ion-tab-button>
    <ion-tab-button tab="builder">
      <ion-icon name="library"></ion-icon>
      Builder
    </ion-tab-button>
    <ion-tab-button tab="export">
      <ion-icon name="library"></ion-icon>
      Export
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
